{% extends "base.html" %}
{% load static_extras %}

{% block title %}{% block calendaritzacions_title %}Calendaritzacions{% endblock %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% staticv 'calendaritzacions/calendaritzacions.css' %}">
<div class="calendaritzacions-app container-fluid mt-4">
    {% block calendaritzacions_content %}{% endblock %}
</div>
{% endblock %}

{% block extra_scripts %}
{{ block.super }}
<script src="{% staticv 'calendaritzacions/calendaritzacions.js' %}"></script>
{% endblock %}
