{# templates/competicio/classificacions_builder_v2.html #}
{% extends "base.html" %}
{% load static_extras %}
{% block title %}{{ builder_title|default:"Classificacions" }}{% if builder_subtitle %} - {{ builder_subtitle }}{% elif competicio %} - {{ competicio.nom }}{% endif %}{% endblock %}
{% block content %}

<link rel="stylesheet" href="{% staticv 'css/classificacions_builder_help.css' %}">

{% include "classificacions/builder/_styles.html" %}
{% include "classificacions/builder/_page_chrome.html" %}
{% include "classificacions/builder/_json_contract.html" %}

<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.2/Sortable.min.js"></script>
<script>
{% include "classificacions/builder/_legacy_inline_script.html" %}
</script>

{% include "classificacions/builder/_help_drawer.html" %}

{% endblock %}
